/* nada na frente = tag */
article {
    background-color: lightcyan;
}

/* . = classe */
.fonte {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}
.cor_fundo {
    background-color: blanchedalmond;
    font-size: 30px;
}

/* # = id */
#id2 {
    background-color: lightgrey;
}