.container {
    display: grid;
    width: 100%;
    height: 100%;
    /* grid-template-areas: 
    "A B"; */

    /* Colunas */
    /* grid-template-columns: 1fr 1fr; */
    border: 1px solid red;

    /* Linhas */
    grid-template-areas:
    "A"
    "B";
     grid-template-rows: 1fr 1fr;
}

.item1 {
    grid-area: A;
    background-color: blueviolet;
    border: 1px solid black;
}

.item2 {
    grid-area: B;
    background-color: aquamarine;
    border: 1px solid black;
}